@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: transparent !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

.swiper {
  width: 100%;
  padding: 12px 0;
  height: 20rem;
}

.swiper-slide {
  background: inherit;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px !important;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img:hover {
  height: calc(100% + 12px);
}

@layer utilities {
  .flow-col-row {
    flex-flow: column;
    flex-direction: row;
  }

  .max-container-home {
    @apply max-w-5xl mx-auto sm:p-10 pb-12 !pt-[30px] px-8 min-h-[calc(100vh-20rem-12px)];
  }

  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[30px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .movie-wrapper {
    @apply w-full flex flex-wrap justify-center gap-4;
  }

  .movie-wrapper > .col {
    @apply flex flow-col-row justify-start w-[calc(50%-1rem)] md:w-[30%];
  }

  .movie-image {
    @apply w-full h-auto bg-transparent;
  }

  .movie-pagination {
    @apply flex items-center gap-2;
  }

  .dialog-body {
    @apply overflow-y-scroll;
  }

  .movie-detail {
    @apply flex flex-row flex-wrap items-start;
  }

  .movie-detail > .col {
    @apply flex justify-center grow-0 shrink-0 basis-auto md:px-2;
  }

  .poster-image {
    @apply w-3/4 h-auto md:w-full rounded-lg shadow-lg bg-transparent;
  }

  .movie-detail table {
    @apply w-full border-none mb-2;
  }

  .movie-detail table tbody>tr>td {
    @apply align-baseline text-black-500 leading-8;
  }

  .movie-detail table tbody>tr>td:first-child {
    @apply font-semibold;
  }

  .wh-8 {
    @apply w-8 h-8;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

.border-image {
  position: absolute;
  top: -10px;
  border: dashed 3px transparent;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
}

footer.footer.hidden,
header.header.footer.hidden {
  display: none !important;
}
